<!-- Show user parameters -->
<li>User firstName: <%= @user.firstName %></li>
<li>User lastName: <%= @user.lastName %></li>
<li>User userName: <%= @user.userName %></li>
<li>User statusId: <%= @user.statusId %></li>
