<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Add Client
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Clients</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Add Client
            </li>
        </ol>
    </div>
</div>

<%= render 'form' %>
