<p>
  <strong>Amount:</strong>
  <%= @commission.amount %>
</p>

<%= link_to 'Edit', edit_commission_path(@commission), class: "btn btn-primary" %>
<%= link_to 'Cancel', commissions_path, class: "btn btn-none" %>
