<p>
  <strong>Name:</strong>
  <%= @region.name %>
</p>
<p>
  <strong>Manager:</strong>
  FIXME
</p>

<%= link_to 'Edit', edit_region_path(@region), class: "btn btn-primary" %>
<%= link_to 'Back', regions_path,  class: "btn btn-none" %>
